openapi: 3.0.3
info:
  contact:
    email: support@silohub.ag
    name: SILOHUB Support
    url: https://silohub.atlassian.net/servicedesk/customer/portals
  description: |
    Esta API es el "Back for Front" (BFF) de la aplicación "SILOHUB Retailer".
    Provee los servicios para la aplicación de usuario (Web, Android, iOS).
  license:
    name: UNLICENSED
    url: https://www.silohub.ag
  title: SILOHUB Retailer Application Backend for Front (BFF) API
  version: "0.0"
  x-logo:
    url: https://www.silohub.ag/wp-content/uploads/2021/09/logo_silohub_blanco.svg
    altText: Logo
externalDocs:
  description: Confluence
  url: https://silohub.atlassian.net/wiki/spaces/SH/pages/82346030/SILOHUB+APIs
servers:
- url: https://api.silohub.net/develop/tenant-admin
tags:
- description: Tenants son nuestros clientes, son unos genios.
  externalDocs:
    url: https://silohub.atlassian.net/wiki/spaces/SH/pages/17760258/Arch-Tenant
  name: Tenant
paths:
  /tenants:
    get:
      operationId: getAllTenants
      responses:
        "200":
          description: OK
        "401":
          description: No estas autorizado. Chequea la autorización y/o los permisos.
      summary: Devuelve todos los Tenants disponibles
      tags:
      - Tenant
  /tenants/{id}:
    get:
      operationId: getTenant
      parameters:
      - description: Id unico del Tenant
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: No estas autorizado para acceder a este recurso. Chequea la
            autorización y/o los permisos.
      summary: Devuelve el Tenants con ese id
      tags:
      - Tenant
components:
  schemas: {}
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://iam-develop.silohub.net/auth/realms/SILOHUB/protocol/openid-connect/token
      type: oauth2
x-google-backend:
  address: http://localhost.silohub.ag
