openapi: 3.0.2
info:
  title: SILOHUB Tenant Administration API
  description: Esta API es la base para la administracion del entorno SILOHUB
  version: develop
  x-logo:
    url: https://www.silohub.ag/wp-content/uploads/2021/09/logo_silohub_blanco.svg
    altText: Logo
host: api-develop.silohub.net
basePath: /tenant-admin
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: Tenant
    description: Tenants son nuestros clientes.
    externalDocs:
      url: https://silohub.atlassian.net/wiki/spaces/SH/pages/17760258/Arch-Tenant
x-google-backend:
  address: http://localhost.silohub.ag
paths:
  /tenants:
    get:
      operationId: getAllTenants
      tags:
        - Tenant
      summary: Devuelve todos los Tenants disponibles
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Tenants'
        401:
          description: No estas autorizado. Chequea la autorización y/o los permisos.
    post:
      operationId: createTenant
      tags:
        - Tenant
      summary: Agrega un nuevo Tenant
      parameters:
        - name: tenant
          description: Los datos del nuevo tenant
          in: body
          schema:
            $ref: "#/definitions/Tenant"
      responses:
        201:
          description: OK
          schema:
            $ref: '#/definitions/Tenants'
        401:
          description: No estas autorizado. Chequea la autorización y/o los permisos.
        400:
          description: Datos inválidos. Controlá los datos del JSON.
  /tenants/{id}:
    parameters:
      - name: id
        description: Id unico del Tenant
        type: string
        format: UUID
        in: path
        required: true
    get:
      operationId: getTenant
      tags:
        - Tenant
      summary: Devuelve el Tenants con ese id
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Tenants'
        401:
          description: No estas autorizado para acceder a este recurso. Chequea la autorización y/o los permisos.
    put:
      operationId: updateTenant
      tags:
        - Tenant
      summary: Actualiza un Tenant, el id parámetro debe coincidir con el id del body.
      parameters:
        - name: tenant
          in: body
          schema:
            $ref: "#/definitions/Tenant"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Tenants'
        401:
          description: No estas autorizado para acceder a este recurso. Chequea la autorización y/o los permisos.
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://keycloak-mauriciosilohub.cloud.okteto.net/auth/realms/master/protocol/openid-connect/auth
    tokenUrl: https://keycloak-mauriciosilohub.cloud.okteto.net/auth/realms/master/protocol/openid-connect/token

definitions:
  Tenant:
    description: La información propia de un Tenant
    type: object
    properties:
      id:
        type: string
        format: UUID
        description: Identificador único del objeto, inmutable
        example: ac6aec02-0932-4aee-8298-f276fde8facc
      name:
        type: string
        description: Nombre del tenant
        example: "Demo"
    required:
      - id
      - name
  Tenants:
    description: Una lista de Tenants
    type: array
    items:
      $ref: '#/definitions/Tenant'

