openapi: 3.0.3
info:
  title: SILOHUB Core API
  description: |
    *Esta API contiene las entidades comunes y básicas para mantener el producto.*

     Para probar esta API se debe realizar una autorización para obtener un token.

    ### Más información
    * [API Home](https://silohub.atlassian.net/wiki/spaces/PUB/pages/99155987)
    * [API Core](https://silohub.atlassian.net/wiki/spaces/PUB/pages/99221531)
  version: develop
  license:
    name: Privada
    url: https://www.silohub.ag
  contact:
    name: SILOHUB Support
    email: support@silohub.ag
    url: 'https://silohub.atlassian.net/servicedesk/customer/portals'
  x-logo:
    url: https://www.silohub.ag/wp-content/uploads/2021/09/signature-logo.png
    altText: SILOHUB Logo
externalDocs:
  description: Confluence
  url: 'https://silohub.atlassian.net/wiki/spaces/SH/pages/82346030/SILOHUB+APIs'
servers:
  - url: 'https://api-develop.silohub.net'
    description: Desarrollo
paths:
  /companies:
    $ref: paths/companies/companies.yaml
  /companies/{companyId}:
    $ref: paths/companies/{companyId}.yaml
  /companies/byUniqueReference:
    $ref: paths/companies/byUniqueReference.yaml
  /companies/{refType}/{refValue}:
    $ref: paths/companies/{refType}-{refValue}.yaml
  /tenants:
    $ref: paths/tenants/tenants.yaml
  /tenants/{tenantId}:
    $ref: paths/tenants/{tenantId}.yaml
  /currencies:
    $ref: paths/currencies/currencies.yaml
  /currencies/{currencyCode}:
    $ref: paths/currencies/{currencyCode}.yaml
  /countries:
    $ref: paths/countries/countries.yaml
  /countries/{countryCode}:
    $ref: paths/countries/{countryCode}.yaml
  /users:
    $ref: paths/users/users.yaml
  /users/{userId}:
    $ref: paths/users/{userId}.yaml
tags:
  - name: users
    x-displayName: Usuarios
    description: |
      ## Usuarios
      ### Más información
      * [User Docs](https://silohub.atlassian.net/wiki/spaces/PUB/pages/98730016)
  - name: companies
    x-displayName: Compañías
    description: |
      ## Compañías
      ### Más información
      * [User Docs](https://silohub.atlassian.net/wiki/spaces/PUB/pages/99057727)
  - name: currencies
    x-displayName: Monedas
    description: |
      ## Monedas
      ### Más información
      * [User Docs](https://silohub.atlassian.net/wiki/spaces/PUB/pages/98435109)
  - name: countries
    x-displayName: Países
    description: |
      ## Países
      ### Más información
      * [User Docs](https://silohub.atlassian.net/wiki/spaces/PUB/pages/98828346)
  - name: tenants
    x-displayName: Organizaciones
    description: |
      ## Organizaciones
      ### Más información
      * [User Docs](https://silohub.atlassian.net/wiki/spaces/PUB/pages/98730009)
components:
  securitySchemes:
    oauth:
      $ref: components/securitySchemes/oauth.yaml