inputSpec: openapi/{{{ API }}}.yaml
generatorName: typescript-axios
outputDir: build/client-packages/javascript/{{{ API }}}
templateDir: .silohub/templates/client-javascript-packages/generator
#
additionalProperties:
  typescriptThreePlus: true
  npmName: "@silohub/openapi-client-{{{ API }}}"
  npmRepository: {{{ REPOSITORY }}}
  npmHomepage: {{{ HOMEPAGE }}}
  supportsES6: true
  withInterfaces: true
  silohubApiBasePath: {{{ API_BASE_PATH }}}
#  withSeparateModelsAndApi: true
