openapi: 3.0.3
info:
  contact:
    email: support@silohub.ag
    name: SILOHUB Support
    url: https://silohub.atlassian.net/servicedesk/customer/portals
  description: |
    Esta API es el "Back for Front" (BFF) de la aplicación "SILOHUB Retailer".
    Provee los servicios para la aplicación de usuario (Web, Android, iOS).
  license:
    name: UNLICENSED
    url: https://www.silohub.ag
  title: Retailer Application Backend
  version: 0.0.70
externalDocs:
  description: Confluence
  url: https://silohub.atlassian.net/wiki/spaces/SH/pages/82346030/SILOHUB+APIs
servers:
- url: https://api.silohub.net/develop/tenant-admin
tags:
- description: Server Runtime Information
  name: server-info
paths:
  /server-info:
    get:
      operationId: getServerInfo
      responses:
        "200":
          content:
            application/json:
              examples:
                bffRetailer:
                  $ref: '#/components/examples/BffRetailer'
              schema:
                $ref: '#/components/schemas/ServerInfo'
          description: Success
        "400":
          content:
            application/json:
              schema:
                nullable: true
                type: object
          description: Check parameters and try again.
          x-summary: Bad Request
        "403":
          content:
            application/json:
              schema:
                nullable: true
                type: object
          description: Unable to access the resource. Check the security or permissions
          x-summary: Forbidden
        "500":
          content:
            application/json:
              schema:
                nullable: true
                type: object
          description: This is a server side problem, check the message and logs.
          x-summary: Unexpected Error
      summary: Show Server Runtime Information
components:
  examples:
    BffRetailer:
      summary: BFF Retailer
      value:
        version: 1.0.1234-develop
        versionShort: 1.0
        runtimeEnvironment: test
  schemas:
    ServerInfo:
      description: |
        La información del server que nos estamos conectando
      properties:
        version:
          description: Versión completa del runtime
          type: string
        versionShort:
          description: Versión corta (major.mino) del runtime
          type: string
        runtimeEnvironment:
          description: Entorno del runtime
          type: string
      required:
      - runtimeEnvironment
      - version
      - versionShort
      type: object
