<!doctype html> <!-- Important: must specify -->
<html>
<head>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
    <link rel="stylesheet" href="../../font-jones.css">
</head>
<body>
<rapi-doc spec-url="openapi.yaml"
          theme="dark"
          show-header="true"
          allow-spec-url-load="false"
          allow-spec-file-load="false"
          heading-text="Hola Nico"
> </rapi-doc>
</body>
</html>