<!doctype html> <!-- Important: must specify -->
<html>
<!--
    esta pagina debería tener la lista de APIs que tenemos o algo así, con links para verlas...
    Probablemente hay que procesarla para que armar la lista con react o webpack... veremos
    Quizas tambien algunos links de info...
-->
<head>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>
<body>
<rapi-doc spec-url = "openapi.yaml"> </rapi-doc>
</body>
</html>