plugins {
    {{#isTestSpock}}
    id("groovy")
    {{/isTestSpock}}
    id("com.github.johnrengelman.shadow") version "7.1.1"
    id("io.micronaut.library") version "3.1.1"
    id("maven-publish")
}

version = "{{artifactVersion}}"
group = "{{groupId}}"

repositories {
    mavenCentral()
    maven {
        name = "SILOHUB Product APIs"
        url = uri("https://maven.pkg.github.com/silohub/product-apis")
        credentials {
            username = "{{{ shghUser }}}"
            password = "{{{ shghToken }}}"
        }
    }
}

micronaut {
    runtime("netty")
    {{#isTestSpock}}
    testRuntime("spock2")
    {{/isTestSpock}}
    {{#isTestJunit}}
    testRuntime("junit5")
    {{/isTestJunit}}
    processing {
        incremental(true)
        annotations("{{invokerPackage}}.*")
    }
}


dependencies {
    annotationProcessor("io.micronaut:micronaut-http-validation")
    api("io.projectreactor:reactor-core:3.4.17")
    {{#useAuth}}
    annotationProcessor("io.micronaut.security:micronaut-security-annotations")
    {{/useAuth}}
    implementation("io.micronaut:micronaut-http-client")
    implementation("io.micronaut:micronaut-runtime")
    implementation("io.micronaut:micronaut-validation")
    {{#useAuth}}
    implementation("io.micronaut.security:micronaut-security")
    implementation("io.micronaut.security:micronaut-security-oauth2")
    {{/useAuth}}
    implementation("io.micronaut.reactor:micronaut-reactor")
    implementation("io.swagger:swagger-annotations:1.6.6")
    runtimeOnly("ch.qos.logback:logback-classic")
}

java {
    sourceCompatibility = JavaVersion.VERSION_11
    targetCompatibility = JavaVersion.VERSION_11
    withSourcesJar()
}

sourceSets {
    main {
        resources {
            exclude "logback.xml"
            exclude "application.yml"
            exclude ".openapi-generator"
            exclude ".openapi-generator-ignore"
        }
        java {
            exclude "**/Application.java"
        }
    }
}

graalvmNative.toolchainDetection = false

publishing {
    repositories {
        maven {
            name = "silohub-github"
            url = uri("https://maven.pkg.github.com/silohub/product-apis")
            credentials {
                username = "{{{ shghUser }}}"
                password = "{{{ shghToken }}}"
            }
        }
    }
    publications {
        maven(MavenPublication) {
            from components.java
        }
    }
}
