<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        @font-face {
            font-family: Jones;
            font-style: normal;
            font-weight: 400;
            src: url(https://www.silohub.ag/wp-content/uploads/2021/09/Jones-Medium.woff) format('woff');
        }
    </style>
    {{{redocHead}}}
</head>

<body>
{{{redocHTML}}}
</body>

</html>